:root {
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  
  --size-l: 20px;

  --color-border: #6C757D;
  --color-primary: rgb(25, 75, 241);
  --color-white: #ffffff;
  --color-title: #212529;
  --color-text: #343A40;

  --border-radius: 12px;

  --wight-title: 500;
  --wight-text: 500;

}


/* ======================= */
.page {
  background: var(--color-corder);
  padding: 0 13px;

  display: flex;
  justify-content: center;
}

.page_content {
  max-width: 960px;
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 80px;
}
/* ===================== */

body {
  font-family: 'Oswald', sans-serif;
}

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 17px;
  color: var(--color-white);
  background: var(--color-primary);
  width: 24px;
  height: 24px;
  border-radius: calc(var(--border-radius)/2);

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
}

.nav_inline {
  gap:var(--space-xm);

}

.nav_vertical{
  gap:var(--space-m);
  flex-direction: column;
}

.nav_link {
color: var(--color-text) ;
font-size: 16px;
text-decoration: none;
line-height: 100%;
}

.nav_link:hover {
  text-decoration: underline;
  color: rgba(75, 122, 160, 0.753);
}


.footer {
  padding: var(--space-l) 0;

  border-top: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;

}

.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-text);

  display: block;
  margin-top: var(--space-l);
}

.footer_title {
  font-size: var(--size-l);
  color: var(--color-title);

  display: block;
  margin-bottom: var(--space-l);
}

.hero {
  display: flex;
 
  align-items: center;
  gap: var(--space-b);
  

  padding: var(--space-b);
  border-bottom: 1px solid var(--color-border);
}

.hero_img {
  width: 500px;
  height: 500px;
  
  border-radius: var(--border-radius);
}

.hero_content {
  display: flex;
  flex-direction: column;
  gap: var(--size-l);
}

.hero_title {
  font-size: 36px;
  font-weight: var(--wight-title);
  color: var(--color-title) ;
  line-height: 120%;
  
  
}

.hero_text {
  font-size: var(--size-l) ;
  color: var(--color-text) ;
  font-weight: var(--wight-text);
  line-height: 170%
}

.featured {
  display: flex;
  
  gap:var(--space-b);
  

  padding: var(--space-b);
  border-bottom: 1px solid var(--color-border);
}

.card_featured {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 text-align: start;
 gap: var(--space-l);
 width: 33%;
 
}

.card_image {
  height: 64px;
  width: 64px;
  border-radius: 12px;
  padding: 16px;
}

.card_title {
  font-size: 32px;
  font-weight: var(--wight-title);
  color: #5A5A5A;
  line-height: 100%;
}

.card_text {
 font-size: var(--size-d);
 font-weight: var(--wight-text);
 color: var(--color-text);
 line-height: 170%;
}

.button {

  font-size: 20px;
  text-decoration: none;

  color: #212529;
  text-align: center;

  padding: 16px 32px;
  background-color: var(--color-white);
  
  border-radius: 6px;

 
}

.button:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px 5px rgb(31, 73, 212);
  opacity: 0.9;
  color: #212529;
}


.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  background-color: var(--color-primary);
  padding: 24px;
  border-radius: var(--border-radius);
}

.form_content {
display: flex;

flex-direction: column;
gap: 12px;
width: 200px;
max-width: 100%;
}

.form_title{
  font-size: 24px;
  font-weight: 400;
  color: var(--color-white);
}


