:root {
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  
  --size-l: 20px;

  --color-border: #6C757D;
  --color-primary: rgb(25, 75, 241);
  --color-white: #ffffff;
  --color-title: #212529;
  --color-text: #343A40;

  --border-radius: 12px;

  --wight-title: 500;
  --wight-text: 500;

}


/* ======================= */
.page {
  background: var(--color-corder);
  padding: 0 13px;

  display: flex;
  justify-content: center;
}

.page_content {
  max-width: 960px;
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 80px;
}
/* ===================== */

body {
  font-family: 'Oswald', sans-serif;
}

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 17px;
  color: var(--color-white);
  background: var(--color-primary);
  width: 24px;
  height: 24px;
  border-radius: calc(var(--border-radius)/2);

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
}

.nav_inline {
  gap:var(--space-xm);

}

.nav_vertical{
  gap:var(--space-m);
  flex-direction: column;
}

.nav_link {
color: var(--color-text) ;
font-size: 16px;
text-decoration: none;
line-height: 100%;
}

.nav_link:hover {
  text-decoration: underline;
  color: rgba(75, 122, 160, 0.753);
}


.footer {
  padding: var(--space-l) 0;

  border-top: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;

}

.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-text);

  display: block;
  margin-top: var(--space-l);
}

.footer_title {
  font-size: var(--size-l);
  color: var(--color-title);

  display: block;
  margin-bottom: var(--space-l);
}

.hero {
  display: flex;
  align-items: center;
  gap: var(--space-b);

  padding: var(--space-b);
  border-bottom: 1px solid var(--color-border);
}

.hero_img {
  width: 500px;
  height: 500px;

  border-radius: var(--border-radius);
}

.hero_content {
  display: flex;
  flex-direction: column;
  gap: var(--size-l);
}

.hero_title {
  font-size: 50px;
  font-weight: var(--wight-title);
  color: var(--color-title) ;
  line-height: 120%;
}

.hero_text {
  font-size: var(--size-l) ;
  color: var(--color-text) ;
  font-weight: var(--wight-text);
  line-height: 170%
}

.blog {
  display: flex;
  gap:var(--space-b);

  padding: var(--space-b);
  border-bottom: 1px solid var(--color-border);
}

.card {
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 gap: var(--space-l);
}

.card_image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.card_title {
  font-size: 32px;
  font-weight: var(--wight-title);
  color: #5A5A5A;
  line-height: 100%;
}

.card_text {
 font-size: var(--size-d);
 font-weight: var(--wight-text);
 color: var(--color-text);
}

.button {
  display: inline-block;
  font-size: var(--size-d);
  text-decoration: none;

  padding: var(--space-m) var(--space-xm);

  border-radius: var(--border-radius);
}

.card_button {
  
  color: var(--color-white);
  background-color: var(--color-primary);
  
}

.button:hover {
  opacity: 0.7;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-primary);
  padding: var(--space-l);
  border-radius: var(--border-radius);
}

.form_content {
display: flex;
flex-direction: column;
gap: var(--space-m);
}

.form_title{
  font-size: 27px;
  font-weight: var(--wight-title);
  color: var(--color-white);
}


.form_info {
  font-size: var(--size-d);
  font-weight: var(--wight-text);
  color: var(--color-white);

}

.form_button {
  background-color: var(--color-white);
  width: 100%;
  max-width: 160px;
  color: var(--color-text);

}

