<div class="card">
    <img class="card_image" src="{{photo}}" alt="{{name}}">
    <h4 class="card_title">{{name}}</h4>
    <p class="card_description">{{description}}</p>
    <div class="card_button_purple">
        <a class="card_button" href="#">Real All</a>
    </div>
</div>